.logo {
  display: flex;

  &__img {
    height: 7rem;

    @include respond(tab-port) {
      height: 5rem;
    }
  }

  &__mobile {
    height: 8rem;
    margin-bottom: 5rem;
    display: none;

    @include respond(tab-port) {
      display: block;
    }
  }
}
