//Colors
$color-primary: #77e690;
$color-primary-dark: #436b58;

$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #b9b9b9;
$color-grey-light-3: #575f66;

$color-grey-dark-1: #2d3740;
$color-grey-dark-2: #12191f;

$color-red: #ff515e;
$color-yellow: #ffba00;

//Shadow
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);

//Font
$default-font-size: 1.7rem;
$font-family: 'Roboto', sans-serif;

//Grid
$grid-width: 136.6rem;
