//Colors
$color-primary-1: #0487d9;
$color-primary-2: #035aa6;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #b9b9b9;

$color-grey-dark-1: #161616;
$color-grey-dark-2: #111;

$color-error: #ff1610;

//Shadow
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);

//Font
$default-font-size: 1.7rem;
$font-family: 'Roboto', sans-serif;

//Grid
$grid-width: 136.6rem;
