%default {
  padding: 12rem 0;
  text-align: center;

  @include respond(tab-land-big) {
    padding: 12rem 3rem;
  }

  @include respond(phone-big) {
    padding: 12rem 1rem;
  }
}

.section-features {
  @extend %default;
  background-color: $color-grey-dark-2;
}

.section-blog {
  @extend %default;
  background-color: $color-grey-dark-1;
}

.section-partners {
  @extend %default;
  background-color: $color-grey-dark-2;

  .row {
    overflow: hidden;
  }
}
