.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1rem 1em;
    display: inline-block;
    border-radius: 0.5rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &--primary {
    background-color: $color-primary;
    border: 2px solid $color-primary;
    color: $color-grey-dark-1;
    font-weight: 400;
    transition: 0.2s ease;

    &:hover {
      background-color: $color-primary-dark;
      border: 2px solid $color-primary-dark;
      color: $color-grey-light-1;
    }
  }

  &--secondary {
    border: 2px solid $color-grey-light-1;
    background: none;
    color: $color-grey-light-1;
    font-weight: 400;
    transition: 0.2s ease;

    &:hover {
      background: $color-grey-light-1;
      color: $color-grey-dark-1;
    }
  }

  &--default {
    background: none;
    color: $color-grey-light-1;
    padding: 0;
    border: none;
    transition: 0.2s ease;

    &:hover {
      color: $color-primary;
    }
  }

  &--execute {
    width: 100%;
    display: block;
    border: none;
    padding: 1.5rem 2rem;
    background-color: $color-red;
    color: $color-grey-dark-1;
    text-transform: uppercase;
    transition: 0.2s ease;

    &:hover {
      background-color: darken($color-red, 5%);
    }
  }
}

.btn-back {
  text-decoration: none;
  color: $color-grey-light-2;
  font-size: 1.4rem;
  transition: 0.2s ease;

  &:hover {
    color: $color-grey-light-1;
  }

  &__icon {
    margin-right: 1rem;
  }
}
