//Big Input
.input-group {
  position: relative;
  text-align: left;
}

.input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.4rem 2rem;
  background-color: rgba($color-grey-light-1, 0.1);
  color: $color-grey-light-1;
  border: 1px solid rgba($color-grey-light-1, 0.3);
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;

  &:focus {
    outline: none;
    border-bottom: 3px solid none;
  }

  &::-webkit-input-placeholder {
    color: $color-grey-light-2;
  }

  &__label {
    font-size: 1.4rem;
    line-height: 2.4;
    font-weight: 400;
    display: flex;
    align-items: center;
  }

  &__label-icon {
    margin-left: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      color: $color-grey-light-2;
    }

    &--message {
      font-size: 1.2rem;
      color: $color-grey-light-2;
      background: $color-grey-dark-2;
      padding: 0 1rem;
      border-radius: 0.3rem;
      margin-left: 0.5rem;
      top: -1px;
      position: relative;
      transition: 0.2s ease;
      visibility: hidden;
      opacity: 0;
      transform: translateX(1.5rem);
    }
  }

  &__label-icon:hover + .input__label-icon--message {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }

  &__btn {
    font-family: inherit;
    font-size: $default-font-size;
    font-weight: 400;
    color: $color-primary;
    background: none;
    border: none;
    backface-visibility: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, 0.75rem);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0 !important;

    &:hover {
      color: $color-grey-light-1;
    }

    @include respond(phone) {
      padding: 1.9rem 3rem;
    }
  }
}

// Form
.form {
  background-color: $color-grey-dark-1;
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &--2-col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;

      @include respond(phone-big) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__label {
    font-size: 1.4rem;
    line-height: 2.4;
    font-weight: 400;
    display: flex;
    align-items: center;
  }

  &__label-icon {
    margin-left: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;

    &:hover {
      color: $color-grey-light-2;
    }

    &--message {
      font-size: 1.2rem;
      color: $color-grey-light-2;
      background: $color-grey-dark-2;
      padding: 0 1rem;
      border-radius: 0.3rem;
      margin-left: 0.5rem;
      top: -1px;
      position: relative;
      transition: 0.2s ease;
      visibility: visible;
      opacity: 1;
      transform: translateX(1.5rem);
    }
  }

  &__label-icon:hover + .input__label-icon--message {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }

  &__note {
    padding: 1rem;
    background-color: $color-grey-light-3;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

// Select
.select-container {
  position: relative;
}

.select-arrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
}

.select {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.4rem 2rem;
  background-color: rgba($color-grey-light-1, 0.1);
  color: $color-grey-light-1;
  border: 1px solid rgba($color-grey-light-1, 0.3);
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s;
  position: relative;
  display: flex;
  overflow: hidden;
  background-image: none;

  &:focus {
    outline: none;
    border-bottom: 3px solid none;
  }

  option {
    color: $color-grey-dark-1;
  }
}

// Checkbox
.form__group .checkbox {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form__group .checkbox__label {
  position: relative;
  cursor: pointer;
  font-size: 1.4rem;
}

.form__group .checkbox__label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid $color-grey-light-1;
  padding: 0.7rem;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 0.5rem;
  top: -2px;
}

.form__group .checkbox:checked + .checkbox__label:after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 0.8rem;
  width: 3px;
  height: 1.2rem;
  border: solid $color-primary;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

// Radio
.radio-container {
  &--full {
    display: flex;
    flex-direction: column;

    [type='radio']:checked + label,
    [type='radio']:not(:checked) + label {
      margin-bottom: 1.5rem;
    }
  }
}

.radio-thin-label {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  display: block;
  margin-top: 0.5rem;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 2.5rem;
  cursor: pointer;
  line-height: 2rem;
  display: inline-block;
  color: $color-grey-light-1;
  font-size: 1.4rem;
  margin-right: 1.5rem;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.8rem;
  height: 1.8rem;
  border: 2px solid $color-grey-light-1;
  border-radius: 100%;
  background: none;
}

[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 1rem;
  height: 1rem;
  background: $color-primary;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
