.jumbotron {
  width: 100%;
  background-color: $color-primary-1;
  padding: 3rem 0;

  @include respond(tab-land-big) {
    padding: 3rem;
  }

  @include respond(phone-big) {
    padding: 3rem 1rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone-big) {
      flex-direction: column;
      text-align: center;
    }
  }

  .heading-4 {
    @include respond(tab-port-big) {
      font-size: 2.8rem;
    }

    @include respond(tab-port) {
      font-size: 2.4rem;
    }

    @include respond(phone-big) {
      font-size: 3rem;
      margin-bottom: 3rem;
    }

    @include respond(phone-small) {
      font-size: 2.6rem;
    }
  }
}
