.latest-posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;

  @include respond(phone-big) {
    grid-template-columns: 1fr;
  }
}

.post {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  position: relative;

  @include respond(tab-land-big) {
    grid-template-columns: 1fr;
  }

  &:hover .post__img {
    transform: scale(1.15) rotate(5deg);
  }

  &__category {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 9999;
    background-color: $color-primary-1;
    color: $color-grey-light-1;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0.3rem;
    padding: 0.3rem 1rem 1px;
    transition: 0.2s ease;

    &:hover {
      background-color: rgba($color-primary-1, 0.8);
    }
  }

  &__img-container {
    width: 100%;
    display: flex;

    border-radius: 1rem;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    border-radius: 1rem;
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.15) rotate(5deg);
    }
  }

  &__details {
    text-align: left;
  }

  &__link {
    text-decoration: none;
    color: $color-grey-light-1;
    transition: 0.2s ease;

    &:hover {
      color: $color-grey-light-2;
    }
  }

  &__title {
    line-height: 1.4;
  }

  &__info {
    color: $color-grey-light-2;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    display: flex;
  }

  &__author {
    display: flex;
    align-items: center;
  }

  &__date {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__info-icon {
    width: 1.2rem;
    height: 1.2rem;
    color: currentColor;
    margin-right: 0.5rem;
  }
}
